<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Login{% endblock %}</title>
    <meta name="viewport" content="width=devide-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type = "text/css" href="{% static 'css/login.css' %}">
{% block content %}
  </head>
  <body>
    <div class="wrapper">
      <div class="title">Login Form</div>
      <form method="post">


        {% csrf_token %}
        <div class="field">
          {{ form.username }}
          <label placeholder="Email Address"></label>
        </div>
        <div class="field">
          {{ form.password }}
          <label placeholder="Password"></label>
        </div>

        <div class="content">
          <div class="checkbox">
            <input type="checkbox" id="remember-me">
            <label for="remember-me">Remember me</label>
          </div>
      <div class="pass-link">
        <a href="#">Forgot password?</a></div>
      </div>
      <div class="field">
        <input type="submit" value="Login">
      </div>
      <div class="signup-link">
        Not a member? <a href="{% url 'signup' %}">Signup now</a></div>
  </body>

{% endblock %}