* {
    margin: 0;
}

html, body {
    height: 100%;
}
.block{
    width: 20%;
    height: 25%;
    border-radius: 5px;
    float: left;
    border: black dashed;
    margin-top: -5%;
}
.image {
    background: lightblue;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    justify-content: center;
    margin: auto;
}
.username{
    margin-top: 2%;
    text-align: center;
    font-size: 22px;
}
.friends{
    float: left;
    margin-left: 17%;
    margin-top: 2%;
}
.groups{
float: left;
margin-left: 20%;
margin-top: 2%;
}
.academics{
    text-align: center;
    margin: 0;
}
.campus{
    text-align: center;
    margin: 2%;
}

.post-container{
    width: 20%;
    height: 40%;
    margin: auto;
    margin-top: 5%;
    border: black dashed;
    
}
.announce {
    text-align: center;
    margin-top: 0;

}
.Course{
    text-align: center;
}
.course-container{
    width: 20%;
    height: 40%;
    margin: auto;
    margin-top: 5%;
    border: black dashed;
}
.career-container{
    width: 20%;
    height: 40%;
    margin: auto;
    margin-top: 5%;
    border: black dashed;
}
.Career{
    text-align: center;
}
.group-container{
    width: 20%;
    height: 40%;
    margin: auto;
    margin-top: 5%;
    border: black dashed;
}
.Groups{
    text-align: center;
}
.campus-container{
    width: 20%;
    height: 40%;
    margin: auto;
    margin-top: 5%;
    border: black dashed;
}
.Campus{
    text-align: center;
}