* {
    margin: 0;
}

html, body {
    height: 100%;
}
.block{
    width: 20%;
    height: 25%;
    border-radius: 5px;
    float: left;
}
.image {
    background: lightblue;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    justify-content: center;
    margin: auto;
}
.username{
    margin-top: 2%;
    text-align: center;
    font-size: 22px;
}
.academics{
    text-align: center;
    margin: 0;
}
.campus{
    text-align: center;
    margin: 2%;
}

.announce {
    text-align: center;
    margin-top: 0;
}