* {
margin: 0;
}

html, body {
max-height: 100%;
background-color: #fafafa;
}




.group-header{
width: 100%;
border: black 1px solid;
}
.group-header .title{
font-size: 5vw;
text-align: center;
line-height: 100px;
}
.Description{
text-align: center;
font-size: 1vw;
position: relative;
}
.tags{
text-align: center;
margin-top: .5%;
font-size: 1vw;
}




.join-leave input[type="submit" i]{
color: #fff;
border: none;
background-color: #4158d0;
border-radius: 75px;
margin-top: 1%;
font-size: 16px;
font-weight: 500;
padding: 10px;
cursor: pointer;
outline:none;
}
.join-leave{
text-align: center;
}





.memberinfo{
margin-top: 1%;
text-align: center;
}
.memberinfo p{
margin:.5%
}





.create-board{
position: relative;
display: block;
color: black;
border: 2px solid rgb(190, 190, 190);
border-radius: 25px;
width: 35%;
height: 5%;
text-align: left;
font-size: 16px;
font-weight: 500;
padding: 10px;
cursor: pointer;
margin: auto;
margin-top: -3%;
background-color: rgb(255, 255, 255);
}
.create-board:hover{
background-color: rgb(207, 207, 207);
transition: .3s ease;
}
.board{
    color: black;
}




.modal-background {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0px;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal-content {
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
}

.close {
    position: absolute;
    top:5px;
    right:14px;
    font-size:25px;
    transform: rotate(45deg); /* will make it look like x */
    cursor: pointer;
}





.sorting{
position: relative;
display: flex;
color: black;
border: 2px solid rgb(190, 190, 190);
width: 43%;
height: 8%;
text-align: center;
font-size: 16px;
font-weight: 500;
padding: 10px;
margin: auto;
margin-top: .7%;
background-color: rgb(255, 255, 255);
}
.sorting-icons i{
margin-left: 14px;
}
.sorting-icons i:hover{
background-color: rgb(207, 207, 207);
transition: .3s ease;
padding: 5px;
cursor: pointer;
border-radius: 25px;
}



.convos{
margin: auto;
margin-top: 2%;
height: 1100px;
width: 50%;
border: 2px solid rgb(190, 190, 190);
overflow-y: hidden;
}
.conversations-container{
margin: auto;
text-align: center;
margin-top: 2%;
border: 2px solid rgb(190, 190, 190);
width: 65%;
height: 100px;
}

@media (max-width: 858px){
.group-header .title{
font-size: 10vw;
text-align: center;
line-height: 100px;
}
.Description{
text-align: center;
font-size: 2.4vw;
margin-top: .5%;
position: relative;
}
.tags{
text-align: center;
margin-top: .5%;
font-size: 2.2vw;
}



.memberinfo{
margin-top: 3%;
text-align: center;
}
.memberinfo p{
margin:.5%
}




.create-board{
position: relative;
display: block;
color: black;
border: 2px solid rgb(190, 190, 190);
border-radius: 25px;
min-width: 69%;
height: 5%;
text-align: left;
font-size: 16px;
font-weight: 500;
padding: 10px;
cursor: pointer;
margin: auto;
margin-top: -7%;
background-color: rgb(255, 255, 255);
}
.create-board:hover{
background-color: rgb(207, 207, 207);
transition: .3s ease;
}




.sorting{
position: relative;
display: flex;
color: black;
border: 2px solid rgb(190, 190, 190);
width: 89%;
height: 8%;
text-align: center;
font-size: 16px;
font-weight: 500;
padding: 10px;
margin: auto;
margin-top: .7%;
background-color: rgb(255, 255, 255);
}
.sorting-icons i{
margin-left: 14px;
}
.sorting-icons i:hover{
background-color: rgb(207, 207, 207);
transition: .3s ease;
padding: 5px;
cursor: pointer;
border-radius: 25px;
}


.conversations-container{
margin: auto;
text-align: center;
margin-top: 2%;
border: 2px solid rgb(190, 190, 190);
width: 95%;
height: 100px;
margin-bottom: 3% !important;
}
}