{% extends 'base.html' %}
{% load static %}
<head>
    <meta charset="utf-8">
    <title>{% block title %}Group Home{% endblock %}</title>
    <meta name="viewport" content="width=devide-width, initial-scale=1.0">
    {% block extrahead %}
    <link rel="stylesheet" type = "text/css" href="{% static 'css/groups_home.css' %}">
    {% endblock %}
  </head>

{% block content %}
<p><a href="{% url 'grouplist' %}">List of groups</a></p>
<p><a href="{% url 'creategroup' %}">Create a group</a></p>


{% endblock %}

    