{% extends 'base.html' %}
{% load static %}
<head>
    <meta charset="utf-8">
    <title>{% block title %}View group{% endblock %}</title>
    <meta name="viewport" content="width=devide-width, initial-scale=1.0">
    {% block extrahead %}
    <link rel="stylesheet" type = "text/css" href="{% static 'css/view_group.css' %}">
    <script src="https://kit.fontawesome.com/b7ea88552d.js" crossorigin="anonymous"></script>
    {% endblock %}
  </head>

{% block content %}

<div class="group-header">
    <img>
        <h3 class="title">
            {{ group.name }}
        </h3>
        <p class="Description">{{ group.description }}</p>
        <p class="tags">#school #econ</p>
</div>

<div class="join-leave">
    {% if not user in group.members.all %}
    <form method="POST" action="joingroup" group="{{ group }}">
        {% csrf_token %}
        <input type='submit' value='Join' />
    </form>
    {% endif %}
</div>


<!--Count number of friends in this group, on click show list-->
<div class="memberinfo">
    <p>Members: 11.4k</p>
    <!--Count number of members instead of show them but on click show the users in a list-->
    {% for member in group.members.all %}
    <p>{{members.count}}</p>
    {% endfor %}
    <p>Friends in {{ group.name }}: 
        <a href="#">23</a>
    </p>
</div>

<br>
<br>
<br>

<div class="create-board">
    <a href="{% url 'createboard' group.slug %}">
        <div class="board">        
                    <i class="far fa-edit"></i>
                    Start a conversation
        </div>
    </a>
</div>



<div class="sorting">
    <ul class="sorting-icons">
        <i class="fas fa-chart-line">
            trending
        </i>

        <i class="fas fa-fire">
            popular
        </i>

        <i class="fas fa-sort">
            recent
        </i>
    </ul>
</div>


    {% for board in group.board_set.all %}
    <ul>
        <div class="conversations-container">
            <li> {{ board }} -- <a href="{% url 'viewboard' group.slug board.id %}">View Board</a></li>
        </div>
    </ul>
    {% endfor %}


{% if user in group.members.all %}
<form method="POST" action="leavegroup" group="{{ group }}">
    {% csrf_token %}
    <input type='submit' value='leave' />
</form>

<div>


    {% if group.created_by == user and user in group.members.all %}
    <form method="POST" action="deletegroup" group="{{ group }}">
        {% csrf_token %}
        <input type='submit' value='delete "{{ group.name }}" ?' />
    </form>
    {% endif %}
</div>
{% endif %}

{% endblock %}