*{
    margin: 0;
    padding: 0;
}
.header {
    height: 90px;
    width: 100%;
    background: #ffa948;  
}

.masthead {
    position: absolute;
    width: 250px;
    height: 110px;
    left: 0%;
    padding-top: 0px;
}
.motto {
    display: flex;
    position: absolute;
    font-family: Playfair;
    left: 50%;
    top: 57px;
    color: purple;
}
.login_form {
    display: flex;
    position: absolute;
    left: 75%;
    top: 50px;
}