*{
    margin: 0;
    padding: 0;
}
.header {
    height: 90px; 
    width: 100%;
    background: #918AD4;  
}

.masthead {
    position: absolute;
    max-width: 25%;
    height: auto;
    top: 5px;
    left: 0%;
    padding-top: 0px;
}
.login_form {
    display: flex;
    position: absolute;
    left: 75%;
    top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.login_form .username,
.login_form .password {
    color: rgb(0, 0, 0);
    padding-bottom: 10px;
    position: relative;
    margin-top: -10px;
    top: -38px;
}

.submit {
    height: 25px;
    width: 50px;
    font-weight: 500;
    right: -73px;
    top: -9px;
    position: absolute;
    background: #c8c4e9;
    border: 1px solid black;
}

section {
    height: 700px;
    width: 100%;
    top: 90px;
    background:#C8C4E9;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.page {
    position: absolute;
    left: 5%;
    top: 50%;
    
}
.vr {
    width:2px;
    background-color:#ffffff;
    position:absolute;
    top:30%;
    height: 400px;
    margin-left: 50%;
}
.text {
    margin-top: 18%;
    color: black;
    left: 10%;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    right: 55%;
    word-wrap: break-word;
    max-width: 522px;
    line-height: 25px;
}
.signup{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    left: 65%;
    top: 30%;
}

.signup .account {
    font-size: 30px;
    color: rgb(0, 0, 0);
    margin: 15px 5px;
}
.signup .signup-form input{
    margin-top: 50px;
    font-size: 15px;
    height: 24px;
    width: 165px;
    border: 1px solid black;
    border-radius: 3px;
    margin-right: 10px;
}
.signup .signup-form .lastname {
    margin-left: 15px;
}
.signup .signup-form .email,
.signup .signup-form .password,
.signup .signup-form .password1 {
    margin-top: 20px;
    width: 400px;
}
.bottom {
    width: 100%;
    height:118px;
    top:762px;
    position: absolute;
    bottom: 0px;
    background: #E4E2F4;
}
.bottom .quote {
    color: black;
    text-align: center ;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    word-wrap: break-word;
    line-height: 25px;}
