{% extends 'base.html' %}

{% block title %}Join group{% endblock %}

{% block content %}
<h2>Temp: Groups</h2>
    <p>
        <p style="font-weight: bold;">Group name: {{ object.name }}</p>
        <p>Description: {{ object.description }}</p>
        <p>Created at: {{ object.created_at }}</p>
        <p>Member list: </p>
        {% for member in object.members.all %}
            <p> {{ member }}</p>
        {% endfor %}
    </p>

    <form method="POST" action="joingroup" object="{{ object }}">
        {% csrf_token %}
        <input type='submit' value='join "{{ object.name }}" ?' />
    </form>
    
    <form method="POST" action="leavegroup" object="{{ object }}">
        {% csrf_token %}
        <input type='submit' value='leave "{{ object.name }}" ?' />
    </form>

{% endblock %}