{% extends 'base.html' %}

{% block title %}View group{% endblock %}

{% block content %}
<h2>Group</h2>
<div>
    <p>
        <p style="font-weight: bold;">Group name: {{ group.name }}</p>
        <p>Description: {{ group.description }}</p>
        <p>Created at: {{ group.created_at }}</p>
        <p>Slug: {{ group.slug }}</p>
        <p>Member list: </p>
        <ul>
        {% for member in group.members.all %}
            <li> {{ member }}</li>
        {% endfor %}
        </ul>
    </p>
</div>


<div>
    {% if not user in group.members.all %}
    <form method="POST" action="joingroup" group="{{ group }}">
        {% csrf_token %}
        <input type='submit' value='join "{{ group.name }}" ?' />
    </form>
    {% endif %}
    
    {% if user in group.members.all %}
    <form method="POST" action="leavegroup" group="{{ group }}">
        {% csrf_token %}
        <input type='submit' value='leave "{{ group.name }}" ?' />
    </form>
    {% endif %}

    {% if group.created_by == user %}
    <form method="POST" action="deletegroup" group="{{ group }}">
        {% csrf_token %}
        <input type='submit' value='delete "{{ group.name }}" ?' />
    </form>
    {% endif %}
</div>

<p><a href="{% url 'grouphome' %}">Group Home</a></p>

<br>

<h3>Boards</h3>
<p><a href="{% url 'createboard' group.slug %}">Create Board</a></p>
{% for board in group.board_set.all %}
    <ul>
        <li> {{ board }} </li>
    </ul>
{% endfor %}

{% endblock %}