{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Profile{% endblock %}</title>
    <meta name="viewport" content="width=devide-width, initial-scale=1.0">
    {% block extrahead %}
    <link rel="stylesheet" type = "text/css" href="{% static 'css/profile.css' %}">
    {% endblock %}
  </head>


{% block content %}
{% csrf_token %}
<body>
    <div class="block">
        <h2 class="image">image</h2> 
        <h4 class="username"> Bradley Harrison</h4>
        <h5 class="friends">Friends</h5>
        {% for friend in object.friends.all %}
            <!-- show friends list -->
            <li><a href="{% url 'profile' friend.slug %}">{{ friend }}</a></li>
        {% endfor %}
        <h5 class="groups">Groups</h5>
        <br>
        <br>
        <h4 class="academics">Sophomore | SI | Business</h4>
        <h5 class="campus">PSE | DX |  optiMIZE </h5>
    </div>

    <div class="post-container">
        <h5 class="announce">
            <p>Posts</p>
        </h5>
    </div>
    <br>
    <div class="group-container">
        <h5 class="Groups">
            Groups (number of groups)):</h5>
        <ul>
            {% for group in object.group_set.all %}
            <li><a href="{% url 'viewgroup' group.slug %}">{{ group.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="schedule-container">
        <h5 class="Schedule">
            Schedule
        </h5>
    </div>
    <div class="course-container">
        <h5 class="Course">
            Favorite Courses (all courses button)
        </h5>
    </div>
    <div class="campus-container">
        <h5 class="Campus">
            Campus Gems
        </h5>
        <p>#86 at Maize and Blue</p>
        <p>Studying in the Law Quad</p>
    </div>
    <div class="career-container">
        <h5 class="Career">
            Career Interests
        </h5>
        <p>Investment Banking</p>
        <p>Marketing</p>
    </div>
    


 

    <br>

    <div>
        {% if object == user %}
            <h5>Friend suggestions</h5>
            <a href="{% url 'friendsuggestions' %}">Get suggestions</a>

        <h5>Friend Requests</h5>
        {% for person in object.friendrequests.all %}
            <!-- show each friend request and choose to accept or decline, must contain requester's slug -->
            <li> 
                {{ person }} 
                <form method="POST" action="{% url 'handle_friend_request' person.slug %}">
                    {% csrf_token %}
                    <input type="submit" value="Accept" name="decision">
                    <input type="submit" value="Decline" name="decision">
                </form>
            </li>
        {% endfor %}

        {% else %}
            <!-- if this is not your profile and you're not in their friends list -->
                <!-- could also include not in friend request list to avoid redundancy  -->
            {% if user not in object.friends.all %}
            <form method="POST" action="{% url 'send_friend_request' object.slug %}">
                {% csrf_token %}
                <input type="submit" value="Send Friend Request">
            </form>
            {% endif %}

        {% endif %}
    </div>

    <hr>

    <div>
        {% if object == user %}
        <p><a href="{% url 'edituser' user.slug %}">Edit Profile</a></p>
        <p><a href="{% url 'logout' %}">logout</a></p>
        <p><a href="{% url 'deleteaccount' user.slug %}">Delete Account?</a></p>

        {% endif %}
    </body>
    </div>

{% endblock %}